<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{LayoutPadrao}">

<head>
    <title>Cadastro de Usuário</title>
</head>
<body>
<section layout:fragment="conteudo">
    <form class="card" method="POST" action="/usuarios" th:object="${usuario}">

        <div class="card-header">
            <h3 class="card-title">Novo Usuário</h3>
        </div>

        <div class="card-body">

            <input type="hidden" th:field="*{idUsuario}"/>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" th:field="*{email}"/>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="text" id="senha" th:field="*{senha}"/>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" id="status" th:field="*{statusUsuario}"/>
            </div>
            <div class="form-group">
                <label for="empresa">Empresa</label>

                <select id="empresa" name="empresa">
                    <option th:each="empresa : ${empresas}" th:value="${empresa}" th:text="${empresa.descricao}"/>
                </select>
            </div>
            <div class="form-group">
                <label for="situacao">Situação</label>
                <select id="situacao" name="situacao">
                    <option th:each="situacao : ${situacoes}" th:value="${{situacao}}" th:text="${situacao.descricao}"/>
                </select>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-secondary" href="/usuarios">Voltar para pesquisa</a>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>
