<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{LayoutPadrao}">

<head>
    <title>Pesquisa de títulos</title>
</head>
<body>

<section layout:fragment="conteudo">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <h1 class="panel-title aw-title-panel">Pesquisa de Usuário</h1>
                <a class="btn btn-link aw-link-panel" href="/usuarios/novo">Novo</a>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Situação</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td class="text-center" th:text="${usuario.idUsuario}">1</td>
                    <td th:text="${usuario.email}"></td>
                    <td class="text-center" th:text="${usuario.situacao}"></td>
                    <td class="text-center">
                        <a class="btn-link col-6" th:href="@{/usuarios/{codigo}(codigo=${usuario.idUsuario})}">
                            <label>Editar</label>
                        </a>
                        <a class="btn-link col-6" href="#" data-toggle="modal" data-target="#confirmacaoExclusaoModal" th:attr="data-codigo=${usuario.idUsuario}">
                            <label>Excluir</label>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" th:if="${#lists.isEmpty(usuarios)}">Nenhum Usuário foi encontrado</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div layout:insert="~{DialogoConfirmacaoExclusao}"></div>
</section>
</body>
</html>
